
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Mengizinkan akses baca dan tulis penuh ke collection 'players' untuk semua pengguna,
    // baik yang diautentikasi maupun tidak. Ini akan menyelesaikan masalah izin.
    match /players/{document=**} {
      allow read, write: if true;
    }
  }
}
